.filmstripContainer{width:1000000px;white-space:nowrap;overflow:hidden;position:relative; left:10px;}
#filmStripIframe{width:100%; height:122px; width:98%; border:3px solid #999;}

table {
    margin: auto;
}

//td {
//padding: 10px;
//border: 0px;
//}

.row1{
background: #ffffff;
}
.row1 a:link{
    color: DarkBlue ;
    text-decoration: none;
/*    background-color: DimGray ; */
}
.row1 a:visited {
    color: #b3b3ff;
    text-decoration: none;
/*    background-color: Black; */
}

.row2 a:link{
    color: DarkBlue ;
    text-decoration: none;
/*    background-color: DimGray ;*/
}
.row2 a:visited {
    color: #b3b3ff;
    text-decoration: none;
/*    background-color: Black; */
}


.row5{
background: #174c8c;
color: #ffffff;
}
.row5 a:link{
    color: DarkBlue ;
    text-decoration: none;
/*    background-color: DimGray ;*/
}
.row5 a:visited {
    color: #b3b3ff;
    text-decoration: none;
/*    background-color: Black; */
}

.tableheader2{
    background: #f3b53c;
    color: #ffffff;
    font-weight: 300;
    font-size: 22px;
    margin: auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
}


.tabletitle{
    background: #174c8c;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    //padding: 10px 20px 10px 20px;
}

.row3{
    background: #174c8c;
    color: #ffffff;
}

.highlight {
    background-color: #FF6;
}

table.typeA {
//    border: 1px solid black;
    width: 100%;
    //border-collapse: collapse;
    //font-family: arial;
}

table.typeA th { 
    background-color:#174c8c;
    color: #fff;
    font-size:  16px;
}

table.typeA tr:nth-child(odd)  { background-color:#fff; }
table.typeA tr:nth-child(even) { background-color:#eee; }
table.typeA td {
    padding: 0px, 5px, 0px, 5px;
    border-bottom: 1px solid #333;
}

table.typeB tr:nth-child(odd)  { background-color:#fff; }
table.typeB tr:nth-child(even) { background-color:#eee; }
table.typeB td {
    text-align: center;
}

table.typeA3 th { 
    background-color:#174c8c;
    color: #fff;
    font-size:  16px;
}
table.typeA3 tr:nth-child(3n+1) { background-color:#ccf; }
table.typeA3 tr:nth-child(3n+2) { background-color:#eee; }
table.typeA3 tr:nth-child(3n+3) { background-color:#eee; }
table.typeA3 tr:nth-of-type(3n) td {
    border-bottom: 3px solid #000;
}

table.typeA4 th { 
    background-color:#174c8c;
    color: #fff;
    font-size:  16px;
}
table.typeA4 tr:nth-child(4n+1) { background-color:#ccf; }
table.typeA4 tr:nth-child(4n+2) { background-color:#eee; }
table.typeA4 tr:nth-child(4n+3) { background-color:#eee; }
table.typeA4 tr:nth-child(4n+4) { background-color:#eee; }
table.typeA4 tr:nth-of-type(4n) td {
    border-bottom: 3px solid #000;
}

table.typeA5 th { 
    background-color:#174c8c;
    color: #fff;
    font-size:  16px;
}
table.typeA5 tr:nth-child(5n+1) { background-color:#ccf; }
table.typeA5 tr:nth-child(5n+2) { background-color:#eee; }
table.typeA5 tr:nth-child(5n+3) { background-color:#eee; }
table.typeA5 tr:nth-child(5n+4) { background-color:#eee; }
table.typeA5 tr:nth-child(5n+5) { background-color:#eee; }
table.typeA5 tr:nth-of-type(5n) td {
    border-bottom: 3px solid #000;
}

.lessnotice {
    font-size: 10px;
}

.centered { vertical-align:middle; text-align:center; }
.centered img { display:block; margin:0 auto; }
.centered input { display:block; margin:0 auto; }
